In [1]:
import pandas as pd
df=pd.read_csv("Titanic-Dataset.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
df['Survived'].unique()

array([0, 1])

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df=df.ffill()

In [6]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          1
Embarked       0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        890 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Sex']=le.fit_transform(df['Sex'])
df['Name']=le.fit_transform(df['Name'])
df['Cabin']=le.fit_transform(df['Cabin'])
df['Embarked']=le.fit_transform(df['Embarked'])
df['Ticket']=le.fit_transform(df['Ticket'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int64
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    int64
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    int64
 11  Embarked     891 non-null    int64
dtypes: float64(2), int64(10)
memory usage: 83.7 KB

In [10]:
a=df.drop(['Survived'],axis=1)
b=df['Survived']

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
T=sc.fit_transform(a)
print(T)

[[-1.73010796  0.82737724 -1.31021659 ... -0.50244517  1.65629226
   0.58904489]
 [-1.72622007 -1.56610693 -0.99141018 ...  0.78684529  0.10733594
  -1.93421952]
 [-1.72233219  0.82737724 -0.35768524 ... -0.48885426  0.10733594
   0.58904489]
 ...
 [ 1.72233219  0.82737724 -0.12441226 ... -0.17626324 -1.08958486
   0.58904489]
 [ 1.72622007 -1.56610693 -1.41518943 ... -0.04438104 -0.3855138
  -1.93421952]
 [ 1.73010796  0.82737724 -0.87477369 ... -0.49237783 -0.3855138
  -0.67258731]]

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
a_train,a_test,b_train,b_test=train_test_split(a,b,test_size=0.2,random_state=25)
model=LogisticRegression()
model.fit(a_train,b_train)
b_pred=model.predict(a_test)
print(b_pred)

[0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 1 1 1 0 0 0 0 0 0 1 0 1 0 1 1 1 0 1 0
 0 1 0 1 0 1 0 0 1 0 1 0 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 0 1 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 1 0 0 1 1 1 0 1
 0 1 0 0 0 1 1 1 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 1 0 1 1 0
 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 0 1]

c:\Users\admin\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(b_test,b_pred))
print(confusion_matrix(b_test,b_pred))
print(classification_report(b_test,b_pred))

0.7877094972067039
[[99 13]
 [25 42]]
              precision    recall  f1-score   support

           0       0.80      0.88      0.84       112
           1       0.76      0.63      0.69        67

    accuracy                           0.79       179
   macro avg       0.78      0.76      0.76       179
weighted avg       0.79      0.79      0.78       179

In [14]:
model=LogisticRegression()
model.fit(a_test,b_test)
b_pred=model.predict(a_test)

c:\Users\admin\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [15]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(b_test,b_pred))
print(confusion_matrix(b_test,b_pred))
print(classification_report(b_test,b_pred))

0.770949720670391
[[97 15]
 [26 41]]
              precision    recall  f1-score   support

           0       0.79      0.87      0.83       112
           1       0.73      0.61      0.67        67

    accuracy                           0.77       179
   macro avg       0.76      0.74      0.75       179
weighted avg       0.77      0.77      0.77       179

In [16]:
from sklearn.naive_bayes import GaussianNB
Gnb=GaussianNB()
Gnb.fit(a_train,b_train)
b_pred=Gnb.predict(a_test)

In [17]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(b_test,b_pred))
print(confusion_matrix(b_test,b_pred))
print(classification_report(b_test,b_pred))

0.8212290502793296
[[95 17]
 [15 52]]
              precision    recall  f1-score   support

           0       0.86      0.85      0.86       112
           1       0.75      0.78      0.76        67

    accuracy                           0.82       179
   macro avg       0.81      0.81      0.81       179
weighted avg       0.82      0.82      0.82       179

In [18]:
from sklearn.naive_bayes import GaussianNB
Gnb=GaussianNB()
Gnb.fit(a_test,b_test)
b_pred=Gnb.predict(a_test)

In [19]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(b_test,b_pred))
print(confusion_matrix(b_test,b_pred))
print(classification_report(b_test,b_pred))

0.8324022346368715
[[100  12]
 [ 18  49]]
              precision    recall  f1-score   support

           0       0.85      0.89      0.87       112
           1       0.80      0.73      0.77        67

    accuracy                           0.83       179
   macro avg       0.83      0.81      0.82       179
weighted avg       0.83      0.83      0.83       179

In [20]:
from sklearn.naive_bayes import BernoulliNB
Bnb=BernoulliNB()
Bnb.fit(a_train,b_train)
y_pred=Bnb.predict(a_test)

In [21]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(b_test,b_pred))
print(confusion_matrix(b_test,b_pred))
print(classification_report(b_test,b_pred))

0.8324022346368715
[[100  12]
 [ 18  49]]
              precision    recall  f1-score   support

           0       0.85      0.89      0.87       112
           1       0.80      0.73      0.77        67

    accuracy                           0.83       179
   macro avg       0.83      0.81      0.82       179
weighted avg       0.83      0.83      0.83       179

In [22]:
from sklearn.naive_bayes import BernoulliNB
Bnb=BernoulliNB()
Bnb.fit(a_test,b_test)
y_pred=Bnb.predict(a_test)

In [23]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(b_test,b_pred))
print(confusion_matrix(b_test,b_pred))
print(classification_report(b_test,b_pred))

0.8324022346368715
[[100  12]
 [ 18  49]]
              precision    recall  f1-score   support

           0       0.85      0.89      0.87       112
           1       0.80      0.73      0.77        67

    accuracy                           0.83       179
   macro avg       0.83      0.81      0.82       179
weighted avg       0.83      0.83      0.83       179

In [33]:
from sklearn.naive_bayes import MultinomialNB
mnb=MultinomialNB()
mnb.fit(a_train,b_train)
y_pred=mnb.predict(a_test)

In [34]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(b_test,b_pred))
print(confusion_matrix(b_test,b_pred))
print(classification_report(b_test,b_pred))

0.8324022346368715
[[100  12]
 [ 18  49]]
              precision    recall  f1-score   support

           0       0.85      0.89      0.87       112
           1       0.80      0.73      0.77        67

    accuracy                           0.83       179
   macro avg       0.83      0.81      0.82       179
weighted avg       0.83      0.83      0.83       179

In [35]:
from sklearn.naive_bayes import MultinomialNB
mnb=MultinomialNB()
mnb.fit(a_test,b_test)
y_pred=mnb.predict(a_test)

In [36]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(b_test,b_pred))
print(confusion_matrix(b_test,b_pred))
print(classification_report(b_test,b_pred))

0.8324022346368715
[[100  12]
 [ 18  49]]
              precision    recall  f1-score   support

           0       0.85      0.89      0.87       112
           1       0.80      0.73      0.77        67

    accuracy                           0.83       179
   macro avg       0.83      0.81      0.82       179
weighted avg       0.83      0.83      0.83       179

In [28]:
counts=df['Survived'].value_counts()
counts

Survived
0    549
1    342
Name: count, dtype: int64

In [29]:
from sklearn.naive_bayes import ComplementNB
cnb=ComplementNB()
cnb.fit(a_train,b_train)
y_pred=cnb.predict(a_test)

In [30]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(b_test,b_pred))
print(confusion_matrix(b_test,b_pred))
print(classification_report(b_test,b_pred))

0.8324022346368715
[[100  12]
 [ 18  49]]
              precision    recall  f1-score   support

           0       0.85      0.89      0.87       112
           1       0.80      0.73      0.77        67

    accuracy                           0.83       179
   macro avg       0.83      0.81      0.82       179
weighted avg       0.83      0.83      0.83       179

In [31]:
from sklearn.naive_bayes import ComplementNB
cnb=ComplementNB()
cnb.fit(a_test,b_test)
y_pred=cnb.predict(a_test)

In [32]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print(accuracy_score(b_test,b_pred))
print(confusion_matrix(b_test,b_pred))
print(classification_report(b_test,b_pred))

0.8324022346368715
[[100  12]
 [ 18  49]]
              precision    recall  f1-score   support

           0       0.85      0.89      0.87       112
           1       0.80      0.73      0.77        67

    accuracy                           0.83       179
   macro avg       0.83      0.81      0.82       179
weighted avg       0.83      0.83      0.83       179